/* global */
*{
    margin: 0;
    padding: 0;
    max-width: 100%;
}

body{
    background-color: lightblue;
}

/* header section */
header{
    text-align: center;
    font-family: sans-serif;
    padding: 1.5vw 0 1.5vw 0;
    background-color: darkblue;
    display: flex;
    justify-content: center;
}

h1{
    background: darkblue;
    color: lightgray;
    font-size: 1rem;
    width: 6em;
}

/* hero section */
.hero{
    width: 100%;
    height: 50vh;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
}

h2{
    font-size: 5em;
    margin-bottom: 2%;
}

button{
    width: 10em;
    height: 3em;
}

button:hover{
    border-radius: 1px;
    border: 1px solid gray;
    background-color: white;
}

.hero-bg{
    position: absolute;
}

/* content section */
.row{
    display: flex;
    justify-content: space-evenly;
    margin: 2em 0 2em 0;
}

.column{
    width: 25em;
}

.blank-space{
    width: 100%;
    height: 10em;
    background-color: lightgray;
    margin: 0.5em 0 0.5em 0;
}

h3{
    font-size: 1.5em;
    font-weight: lighter;
}

@media(max-width: 1250px){
    .column{
        width: 32%;
    }
}

@media(max-width: 900px){
    .row{
        flex-direction: column;
        align-items: center;
    }

    .column{
        width: 45%;
        margin-bottom: 2em;
    }

    h2{
        font-size: 4.5em;
    }

    h3{
        font-size: 1.3em;
    }

    p{
        font-size: 90%;
    }
}